.footer{
    background: #1A1A1A;
    color: #fff;
    padding: 0 7%;
    display: flex;
    flex-direction: column;
}


.foot-title{
    font-size: max(20px, 1.5vw);
    width: 40%;
}

.main-foot{
    display: flex;
    padding: 3% 0;
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
}


.foot-desc{
    display: flex;
    flex-direction: column;
    width: 35%;
}

.foot-desc p{
    color: var(--p-color);
    font-size: max(14px, 0.8vw);
    width: 70%;
}

.logo-foot{
    display: flex;
    text-decoration: none;
    gap: max(15px, 1vw);
    width: 50%;
}
.logo-foot h3{
    color: #fff;
    font-size: max(15px, 1.3vw);    
}

.foot-desc h5{
    font-size: max(14px, 1vw);
}

.subscribe{
    display: flex;
    align-items: center;
    gap: max(5px, 0.5vw);
}

input{
    width: 55%;
    height: max(30px, 2.2vw);
    border-radius: max(5px, 0.5vw);
    border: 1px solid #333333;
    background-color: #333333;
}
input::placeholder{
    font-size: max(12px, 0.8vw);
    padding: 10px;
}

button{
    width: max(80px, 5.4vw);
    height: max(30px, 2.2vw);
    background: var(--main-color);
    color: #fff;
    font-size: max(14px, 0.8vw);
    border: 1px solid var(--main-color);
    border-radius: max(8px, 0.5vw);
    cursor: pointer;
}


.foot-links{
    display: flex;
    align-items: stretch;
    gap: max(15px, 1vw);
    width: 65%;
    
}

.foot-start{
    display: flex;
    flex-direction: column;
    font-size: max(17px, 1vw);
    gap: max(15px, 1vw);
    width: 30%;
}

.foot-start a{
    color: var(--p-color);
    text-decoration: none;
    font-size: max(14px, 0.8vw);
}


.foot-end{
    padding: 2% 0;
    display: flex;
    justify-content: space-between;
    color: var(--p-color);
}

.foot-end p{
    font-size: max(14px, 0.8vw);
}

.social-icons{
    display: flex;
    gap: max(10px, 0.8vw);
}


.sc-icon{
    width: max(35px, 2.5vw);
    height: max(35px, 2.5vw);
    border-radius: 100%;
    border: 1px solid #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}



@media (max-width:1110px) {
    .foot-title{
        width: 100%;
        text-align: center;
    }

    .main-foot{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .foot-desc{
        width: 100%;
        align-items: center;
        margin-bottom: 5%;
    }

    .foot-desc a{
        width: 100%;
        justify-content: center;
    }
    .foot-desc p{
        width: 80%;
        text-align: center;
    }
    
    
    .foot-links{
        width: 100%;
        text-align: center;
        
    }
    .foot-start{
        width: 25%;
    }
    
    
}


@media (max-width: 740px){
    .foot-end{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .copyright p {
        text-align: center;
    }
}